.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  padding-top: 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
}

@media all and (max-width: 320px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
  }
  .container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
