.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 16px;
  margin-top: 48;
}

@media all and (max-width: 320px) {
  .content {
    display: none;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  text-align: start;
  padding-top: 11px;
}

@media all and (max-width: 320px) {
  .title {
    padding: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #393939;
  text-align: start;
  padding: 16px 0;
}

@media all and (max-width: 320px) {
  .text {
    padding: 0 16px;
    font-size: 13px;
    line-height: 16px;
  }
}

.interestedTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  text-align: start;
  margin-top: 11px;
}

@media all and (max-width: 320px) {
  .interestedTitle {
    padding-left: 16px;
    margin-top: 58px;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
  }
}

.interestedProducts {
  display: flex;
}

@media all and (max-width: 320px) {
  .interestedProducts {
    padding-left: 16px;
    overflow-y: auto;
  }
}
