.PhoneInputInput {
  padding: 13px 10px 13px 12px;
  gap: 10px;
  width: 392px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  margin-top: 4px;
}

::placeholder {
  color: #d0d0d0;
  font-size: 14px;
  line-height: 17px;
}
