.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: hidden;
}

.leftSide {
  width: 45%;
  height: 100%;
  background-color: #3772ff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginImg {
  width: 264px;
  height: 460px;
}

.rightSide {
  color: #8e8e8e;
  width: 55%;
  margin: auto 0;
  text-align: center;
}

.loginTitle {
  color: black;
}

.loginTitle span {
  color: rgb(250, 35, 73);
}

.loginForm {
  width: 460px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.loginForm label {
  margin: 10px 0 10px 0;
}

.submitButton {
  width: 40% !important;
  margin: 0 auto !important;
  margin-top: 20px !important;
}

@media screen and (max-width: 800px) {
  .leftSide {
    display: none;
  }
  .loginForm {
    width: 100%;
  }
}
