.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 18px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin-top: 44px;
}
