.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #393939;
  margin-bottom: 21px;
  padding-top: 8px;
}

@media all and (max-width: 320px) {
  .title {
    padding-left: 16px;
  }
}

.container {
  display: flex;
  background: white;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.02);
}

@media all and (max-width: 320px) {
  .container {
    width: 288px;
    margin-left: 16px;
  }
}

@media all and (max-width: 320px) {
  .desktop_news {
    display: none;
  }
}

.section {
  margin: 16px;
  text-align: start;
}

.section span {
  font-weight: 500;
  font-size: 16px;
  color: #393939;
}

.section p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 165%;
}

@media all and (max-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .container img {
    width: 100%;
  }

  .section {
    width: 100%;
    margin: 10px 0;
  }
}

.hide_button {
  margin-top: 6px;
  width: 264px;
  height: 32px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #1d1d1b;
  border: 1px solid #ededed;
  background: #ffffff;
}

.mobile_news {
  display: none;
}

@media all and (max-width: 320px) {
  .mobile_news {
    display: block;
  }
}
