.layout {
  margin: 22px 0;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 274px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

@media all and (max-width: 320px) {
  .layout {
    display: none;
  }
}

.content {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #393939;
}

.burger_menu {
  display: none;
}

@media all and (max-width: 320px) {
  .burger_menu {
    display: block;
  }
}

.navLink_styles {
  color: black;
  display: flex;
  align-items: center;
}

@media all and (max-width: 320px) {
  .navLink_styles {
    display: none;
  }
}

.search_icon {
  display: none;
}

@media all and (max-width: 320px) {
  .search_icon {
    display: block;
  }
}

@media all and (max-width: 320px) {
  .search_input {
    display: none;
  }
}

.sign {
  display: flex;
  align-items: center;
}

.phone {
  color: black;
  margin-left: 5px;
  margin-right: 20px;
}

.horizontal_divider {
  border: 1px solid #d3d3d3;
  transform: rotate(90deg);
  width: 24px;
  padding: 0 20px;
}

@media all and (max-width: 320px) {
  .horizontal_divider {
    display: none;
  }
}
