.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  /* background-color: rgb(5, 5, 5); */
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background: #ffffff;
  border: 1px solid rgba(29, 29, 27, 0.3);
  border-radius: 4px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(6, 6, 6);
}

.wrapper {
  padding-bottom: 15px;
}

.slider_image {
  height: 488px;
  width: 100%;
  object-fit: cover;
}

@media all and (max-width: 320px) {
  .wrapper {
    width: 320px;
    position: relative;
  }
}

@media all and (max-width: 320px) {
  .slider_image {
    width: 320px;
    height: 298px;
  }
}

@media all and (max-width: 320px) {
  .slider_main {
    width: 320px;
    height: 298px;
  }
}
