.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  background-color: rgb(5, 5, 5);
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
}

.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next {
  background-color: white;
}

.swiper-pagination-bullet-active-prev {
  background-color: white;
}

.wrapper {
  padding-bottom: 15px;
}

.slider_image {
  height: 488px;
}

@media all and (max-width: 320px) {
  .wrapper {
    width: 320px;
    /* height: 314px; */
  }
}

@media all and (max-width: 320px) {
  .slider_image {
    width: 320px;
    height: 298px;
    /* height: 314px; */
  }
}

@media all and (max-width: 320px) {
  .slider_main {
    width: 320px;
    height: 298px;
    /* height: 314px; */
  }
}
