.swiper-pagination-bullet {
  background-color: rgb(5, 5, 5);
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
}

/* change color of next 2 bullets in sequence to white*/

.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next {
  background-color: white;
}

/* change color of previous bullet to white*/

.swiper-pagination-bullet-active-prev {
  background-color: white;
}
