.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 18px;
  padding-bottom: 64px;
}

@media (max-width: 320px) {
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  text-align: start;
  padding-top: 11px;
  margin-top: 48px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #393939;
  padding-top: 16px;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
}

@media (max-width: 320px) {
  .description {
    font-size: 16px;
    line-height: 20px;
    color: #393939;
  }
}

.section {
  text-align: start;
  padding-top: 11px;
}

@media (max-width: 320px) {
  .section {
    padding: 16px;
  }
}
