.App {
  text-align: center;
}

.divider-line {
  border-bottom: 1px solid grey;
}

.container {
  width: 1168px;
  margin: 0 auto;
}

.main {
  background-color: #f8f8f8;
}

.previousPrice {
  text-decoration: line-through;
  font-size: 0.8rem;
  color: #adadad;
}

input[type='radio']:checked + label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid grey;
}

label {
  margin-top: 1;
}

@media (max-width: 320px) {
  p {
    text-align: start;
  }
}

@media all and (max-width: 1200px) {
  div {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  div {
    width: 100%;
  }
}

@media all and (max-width: 890px) {
  .container {
    max-width: 890px;
    margin: 0 auto;
  }
}
