.App {
  text-align: center;
}

.container {
  width: 1168px;
  margin: 0 auto;
}
@media all and (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media all and (max-width: 320px) {
  .main {
    max-width: 320px;
    background-color: #f8f8f8;
  }
}

.main {
  background-color: #f8f8f8;
}

.previousPrice {
  text-decoration: line-through;
  font-size: 0.8rem;
  color: #adadad;
}

input[type='radio']:checked + label::before {
  position: absolute;
  content: '';
  top: -4px;
  left: -4px;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid grey;
}

input[type='submit'] {
  width: 100%;
  height: 44px;
  background: black;
  color: #fff;
  border: 1px solid #999;
  /* margin-top: 32px; */
}

@media all and (max-width: 320px) {
  input[type='submit'] {
    margin-top: 12px;
  }
}

input[disabled] {
  background-color: grey;
}

.scale-hover {
  display: inline-block;
  overflow: hidden;
}

.scale {
  transition: 1s;
  display: block;
}

.scale:hover {
  transform: scale(1.2);
}

@media all and (max-width: 320px) {
  .hide_button {
    display: none;
  }
}
