.wrapper {
  background-color: #f8f8f8;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
  padding: 12px 0 72px 0;
}

@media all and (max-width: 320px) {
  .container1 {
    padding: 24px 16px;
  }
}

.images_block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media all and (max-width: 320px) {
  .container1 img {
    width: 138px;
  }
}

.text_block {
  width: 39.5%;
  background: white;
  box-sizing: border-box;
  padding: 15px 25px;
}

@media all and (max-width: 320px) {
  .text_block {
    width: 100%;
    margin-top: 12px;
  }
}

.text_block span {
  font-weight: 500;
  font-size: 24px;
  color: #393939;
}

.text_block p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979797;
  margin-top: 8px;
}
