.card {
  width: 284px;
  border-radius: none;
  margin: 4px;
  margin-top: 10px;
  position: relative;
}

.card_title {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.card_button {
  background-color: black;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 44px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
}

@media all and (max-width: 320px) {
  .card_button {
    width: 100%;
  }
}

.card_button:hover {
  background-color: white;
  color: black;
  font-size: 14px;
  line-height: 17px;
}

.cardmedia img {
  width: 284px;
}
